.App {
  text-align: center;
}

.todo-box {
  padding: 15px;
  font-size: 15px;
  width: 200px;
  height: 200px;
  border: 1px solid green;
  border-radius: 20px;
}

.layout {
  width: 1000px;
  height: 800px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.container {
  width: 400px;
  margin: 30px auto;
}
.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
